doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Best Spectacles In India | spectacular.com
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Ubuntu:wght@300&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../static/style.css')
  link(rel='stylesheet' media='screen and (max-width:1025px)' href='../static/mobile.css')
  link(rel='stylesheet', href='../static/itemStyle.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
header#header
  nav.navbar
    img(src='../static/imgs/logo.png' alt='www.spectacular.com')
    .menucontainer
      ul.navmenu
        li
          a(href='#home') Home
        li#products
          a(href='#Item-section') Products
        li
          a(href='#Services') Services
        li
          a(href='#contact') Contact Us
        li
          a(href='#about') About
section#home
  h1.primaryText Welcome to Spectacular.com!
  p.secondaryText Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, repellat!
  button#orderButton(href='#item-section') Order Now!
//- //////////////////////////////////////////////////////////////////////////////////////////
section#Item-section
      h1.primaryText Our Products
      .products
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
        .item
          img.item-image(src='../static/imgs/item1.jpg', alt='product-image')
          .item-description
            .item-name John Jacob
              i.fa.fa-heart-o(title='Wishlist')
            .item-size Size: Medium
            .item-price
              | &#x20B9;1990 &nbsp;
              span.discounted-price  &#x20B9;2499
              span.tax &nbsp;(+tax)
              button.add-to-cart 
                i.fa.fa-shopping-cart(style='font-size:22px;color:white' title='Add to cart')
                | +
          .offer BUY 1 GET 1 FREE
      br
      hr
//- //////////////////////////////////////////////////////////////////////////////////////////
section#Services.serviceSection
  h1#OurServices.primaryText Our Services
  .ServicesContainer
    #cont1.container
      img(src='../static/imgs/3.png' alt='delivery MAN')
      h2.secondaryText Free Home Delivery
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus a deleniti molestias maxime earum vitae ad omnis? Similique delectus rerum excepturi rem suscipit?
    #cont2.container
      img(src='../static/imgs/4.jpg' alt='Stores')
      h2.secondaryText 300+ Walk-In Stores
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus a deleniti molestias maxime earum vitae ad omnis? Similique delectus rerum excepturi rem suscipit?
    #cont3.container
      img(src='../static/imgs/item1.jpg' alt='Image')
      h2.secondaryText Buy 1 Get 1
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus a deleniti molestias maxime earum vitae ad omnis? Similique delectus rerum excepturi rem suscipit?
section#contact
  h1#ContactUs.primaryText Contact Us
  form.contactForm(action='/' method="post")
    input#nameEntry.form(type='text' name='name' placeholder='Enter Your Name')
    input#phoneEntry.form(type="tel" name='phone' placeholder='Enter Your Phone No.')
    input#emailEntry.form(type='email' name='email' placeholder='Enter Your Email')
    // <input type="text" name="age" id="ageEntry" class="form" placeholder="Enter Your Age">
    // <input type="text" name="gender" id="genderEntry" class="form" placeholder="Enter Your Gender">
    textarea#message.form(name='message' cols='10' rows='3' placeholder='Enter Your Message')
    // <input type="textbox">
    button#submitButton.form(type='submit')  Submit 
    span#formSubmitted
section#about.aboutSection
  h1#about.primaryText About Us
  #section-container.container
    .container.abtcont1.container-inner
      img(src='../static/imgs/abt1.jpg' alt='delivery MAN')
      .aboutDetails
        h2.secondaryText OUR VISION
        p
        h3.tertiary-headings India is the blind capital of the world.
        |                         15 million people in India are blind, which is 50% of the blind people of the world.
        br
        |                         75% of these are cases of avoidable blindness. Thanks to the country&apos;s acute shortage of optometrists and donated eyes for the treatment of corneal blindness.
        |                         153 million people in the country need reading glasses but do not have access to them.
        br
        |                         Our country needs 40,000 optometrists. Unfortunately we only have 8,000.
        p
        h3.tertiary-headings Revolutionize the eyewear industry in India
        p
          | Spectacular&apos;s aim is to help drop this number marginally in the coming years, which can be achieved by providing high quality eyewear to millions of Indians at affordable prices, giving free eye check ups at home and by extending our services to the remote corners of India.
    #about-inner-container2.container.abtcont1.container-inner
      img#abtimg2(src='../static/imgs/abt2.jpg' alt='Stores')
      #aboutcont2.aboutDetails
        h2.secondaryText OUR MISSION
        p
          | Wow customers by doing something that has never been done before in the eyewear industry. It began with an aim. An aim to provide every Indian access to high-quality designer glasses without shelling out their pocket. We rocked our brains. We broke our backs to come up with a plan that will not just change the way this industry works, but also will completely sweep customer off their feet. It can only be achieved if we provide.
    .container.abtcont1.container-inner
      img(src='../static/imgs/abt3.png' alt='Image')
      .aboutDetails
        h2.secondaryText GREAT QUALITY
        p
        h3.tertiary-headings Made by robots
        |                         We are India&apos;s first and the only brand to use robotic technique that delivers glasses which are accurate to 3 decimal places. These machines imported from Germany, ensure perfection on all front: an automated system that allows to inspect lenses, determine the geometric center, and load the lenses for edging without the need of a finishing block.
        br
        h3.tertiary-headings Mind of machine
        |                         Our people have zero tolerance to error and our call center aims to delight every customer, solve their problems and work on their feedbacks.
        p
footer#footer
  .footer-container
    | Copyright &copy; www.spectacular.com. All rights reserved!

script(src="../static/index.js")