<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/loginStyle.css">
</head>
<body>
    <header>
        Welcome to Spectacular.com
    </header>
    <div id="loginContainer">
        <form action="/login" method="post" id ="loginForm">
            <h1>LogIn / SignIn</h1>
            <input type="text" name="username" id="userEntry" placeholder="Username/Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit" id= "btn">Sign In</button>
        </form>
    </div>

</body>
</html>