<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/itemStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <section id="Item-section">
        <div class ="products">
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob <i class="fa fa-heart-o" title="Wishlist"></i></div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> <button class="add-to-cart"><i class="fa fa-shopping-cart" style="font-size:25px;color:white"></i>+</button></div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price"> ₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
            <div class="item">
                <img src="../static/imgs/item1.jpg" alt="product-image" class="item-image">
                <div class="item-description">
                    <div class="item-name">John Jacob</div>
                    <div class="item-size">Size: Medium</div>
                    <div class="item-price">₹1990 &nbsp;<span class="discounted-price"> ₹2499</span><span class="tax">&nbsp;(+tax)</span> </div>
                </div>
                <div class="offer">BUY 1 GET 1 FREE</div>
            </div>
        </div>
    </section>
</body>
</html>